/* This file is part of metro.
metro is Copyright 2013 Jonathan Eberle & Cluster-AG Leinger-Gymnasium Grünstadt metro is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
metro is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with metro. See the file GPLV2. If not, see http://www.gnu.org/licenses/.*/

@font-face {
	font-family:PosterBodoni BT;
	src: url(posterbodonibt.ttf);
}

/*general style for the tiles*/
body {
	background:#d5d5d5;
	padding:5%;
	margin:0;
}

h1 {
	font-family:PosterBodoni BT;
	color:#01295A;
}

#logo {
}

#platzhalter {
}

img {
}

.menuitem {
}

.menuitem img {
	max-width:100%;
}

/*new desktop arrangement*/
@media screen{
	.menuitem {
		max-height:15%;
		overflow:hidden;
		margin:3%;
		background:gray;
		width:15%;
	}

	.menuitem a {
		font-size:11px;
	}

	#top {
		overflow:hidden;
		background:gray;
	}

	#top .menuitem {
		display:inline-block;
	}

	#logo {
		width:20.7%;
		margin:0px;
		margin-left:3%;
		margin-bottom:3%;
	}

	#platzhalter {
		max-height:13%;
		width:20%;
	}

	#left {
		width:20%;
		float:left;
		padding-left:0.7%;
	}

	#left .menuitem {
		width:100%;
	}

	#slider {
		font-size:53px;
	}

}

